
<h1>Portafolio</h1>

<div class="card mb-3" style="max-width: 100%;">
<div class="row g-0">
<div class="col-md-4">
<%= image_tag  'user.png', class: 'profile-img'%> 
</div>
<div class="col-md-8">
<div class="card-body">
<h5 class="card-title">Marta Alcázar Redondo</h5>
<h6 class="card-text">Desarrollador FullStack</h6>
<p class="card-text">Este es mi portafolio</p>
<p class="card-text">Linkedin:</p>
<p class="card-text">Github:</p>
<p class="card-text"><small class="text-muted">Chile</small></p>
</div>
</div>
</div>
